/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #fcfcfa;
}

.hljs-strong,
.hljs-emphasis {
  color: #c1c0c0;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ab9df2;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a9dc76;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #ff6188;
}

.hljs-symbol,
.hljs-class,
.hljs-attribute {
  color: #78dce8;
}

.hljs-params {
  color: #fc9867;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #ffd866;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #727072;
}
